.parallax-hero {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        overflow: hidden;
        div:last-child > picture > img {
            width: 100vw;
        }
        div:first-child {
            flex-direction: column;
            color: white;
            text-shadow: black 1px 0 10px;

            font-weight: bold;
            position: absolute;
            left:0px;
            right: 0px;

            padding-left: 10vw;
            padding-right: 10vw;

            * {
                font-size: 10vw!important;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

}